runtime = electron
target = 35.0.2
disturl = https://electronjs.org/headers
playwright_skip_browser_download=true
engine-strict=true
#for some reason, grpc can't be downloaed by npm, so use local binary.
#grpc_tools_node_protoc_binary_host=https://node-precompiled-binaries.grpc.io
#grpc_tools_node_protoc_binary_path=file:~/Downloads/darwin-x64.tar.gz
# build_from_source = true
# arch = x64
# target_arch = x64
